body > .content > .columns {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    width: 80%;
    margin: 0 auto;
    padding: 4em 0 3em;
}

body > .content > .columns > .column {
    flex-basis: 100%;
}

body > .content > .columns > .column.left {
    padding-right: 3em;
}

body > .content > .columns > .column.right {
    padding-left: 3em;
}

body > .content p {
    line-height: 1.4em;
}

body > .content h1:not(:first-child) {
    margin-top: 2em;
}

body > .content form {}

body > .content form hr {
    border-color: #ff6d00;
}

body > .content form label {
    display: block;
    font-size: 1.1em;
}

body > .content form input,
body > .content form textarea,
body > .content form select {
    display: block;
    box-sizing: border-box;
    background: #ffffff;
    width: 100%;
    padding: 0.5em 0.5em;
    border-radius: 5px;
    border: solid #ff6d00;
    margin: 0.5em 0 1em;
    outline: none;
    font-size: 1.2em;
}

body > .content form textarea {
    height: 7em;
    resize: vertical;
}

body > .content form p {
    margin-top: 2em;
}

body > .content form input[type=submit] {
    cursor: pointer;
    background: #ff6d00;
    color: #ffffff;
    /*    display: none;*/
}

body > .content > .location {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

body > .content > .location .mapouter {
    position: relative;
    padding: 0 0 3em;
    text-align: right;
    width: 100%;
    height: 30em;
}

body > .content > .location .mapouter > .gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 100%;
}

body > .content > .location .mapouter > .gmap_canvas > iframe {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 980px) {
    body > .content > .columns {
        flex-direction: column;
        padding: 4em 0 2em;
    }

    body > .content > .columns > .column {
        margin-bottom: 2em;
    }

    body > .content > .columns > .column.left {
        padding-right: 0;
    }

    body > .content > .columns > .column.right {
        padding-left: 0;
    }

    body > .content > .location {
        text-align: start;
    }
}

@media screen and (max-width: 736px) {

    body > .content {
        text-align: center;
    }

    body > .content input {
        text-align: center;
    }

    body > .content > .location {
        text-align: center;
    }
}
