body > .support {
    position: fixed;
    right: 3em;
    bottom: 3em;
    /*    background: #ffd600;*/
    background: #ff6d00;
    padding: 2em;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    width: 30vw;
    clip-path: circle(2.5em at calc(100% - 3em) calc(100% - 3em));
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

body > .support:after {
    /*    content: "\260E";*/
    content: " ";
    width: 1em;
    height: 1em;
    background: #ffffff;
    /*    -webkit-mask: url("/assets/images/chat.svg") no-repeat 50% 50%;*/
    /*    mask: url("/assets/images/chat.svg") no-repeat 50% 50%;*/
    /*        background-repeat: no-repeat;*/

    -webkit-mask-image: url("/assets/images/chat.svg");
    -webkit-mask-mode: match-source;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: url("/assets/images/chat.svg");
    mask-mode: match-source;
    mask-repeat: no-repeat;
    mask-size: cover;

    position: absolute;
    color: #ffffff;
    font-size: 3em;
    right: 0.45em;
    bottom: 0.45em;
}

body > .support:hover {
    background: #ff6d00;
    clip-path: circle(75%);
    cursor: default;
}

body > .support:hover:after {
    background: transparent;
}

body > .support > * {
    color: transparent;
}

body > .support:hover > * {
    color: #ffffff;
}

body > .support > h1 {
    font-size: 2em;
    margin: 0 0 0.5em;
}
